.carousel-container {
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-item {
  min-width: 100%;
}

.carousel img {
  width: 100%;
  height: auto;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.carousel.animated {
  animation: slide 20s linear infinite;
}
